canvas {
  background-image: url('../images/map.jpg');
  background-repeat: no-repeat;
}

<<<<<<< HEAD
.fbf {
  background-image: url('../images/North-Focused-Map-v1.jpeg');
  background-repeat: no-repeat;
=======
  .fbf {
    background-image: url('../images/North-Focused-Map-v2.jpeg');
  }
>>>>>>> update fbf map to v2
}
